<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Jatin/N01552458</h1>
    </header>

    <div class="content">
      {{{body}}}
    </div>

    <footer>
      <p>jatinkumarr096@gmail.com</p>
    </footer>
  </body>
</html>